{%extends "index.html"%}
{%block content%}
<head>
  <title>blog</title>
  <link rel="stylesheet" href="../static/css/normalize.css"/>
  <link rel="stylesheet" href="../static/css/main.css">    
</head>
<style>

</style>
  <body>

    <h1 class="quoteh1">"Life isn't a matter of milestones, but of moments." -Rose Kennedy</h1>

    <div class="blog">
 
      <div class="post" style="transform:rotate(-0.2425899672303995deg);">
        <img src="https://picsum.photos/id/20/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(2.382090039306492deg);">
        <img src="https://picsum.photos/id/40/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(-1.0087000034811178deg);"><img src="https://picsum.photos/id/60/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(-1.775649151693388deg);"><img src="https://picsum.photos/id/80/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(-1.2116442881634337deg);"><img src="https://picsum.photos/id/100/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(3.0836250651156085deg);"><img src="https://picsum.photos/id/120/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(-0.8549265607958727deg);">
        <img src="https://picsum.photos/id/140/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(2.0714792005750287deg);">
        <img src="https://picsum.photos/id/160/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(2.6701967639954542deg);"><img src="https://picsum.photos/id/180/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>
      <div class="post" style="transform:rotate(-0.9043615800879294deg);"><img src="https://picsum.photos/id/200/600/300"/>
        <h2>Card Title</h2>
        <p>read more</p>
      </div>


    </div>
  
  </body>

{%endblock%}