{%extends "index.html"%}
{%block content%}

<head>
  <title>contact</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<style>
  
</style>

<body>

  <h1 class="contact-header">Get in touch</h1>

  <div class="contact">

    <div class="message">
      <form>
    
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="send" value="Send">
    
      </form>
    </div>

  </div>

  <div class="follow">

    <ul class="social-media-list">
      <li>
        <a href="https://github.com/dsjy09" target="_blank" class="contact-icon">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-codepen" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>       
    </ul>
  
  </div>

</body>

{%endblock%}