{%extends "index.html"%}
{%block content%}
<head>
  <title>home</title>     
</head>
<style>
</style>
<body>

  <section class="aboutsite">

      <div class="section-content">

          <img class='homeimg' src="static/images/about/laptop.jpg" alt="laptop">

          <div class="text-container">

            <p class="large-text"><strong>About the website</strong></p>

            <p class="small-text">
              This is a personal website designed using Flask, HTML5, CSS3, Javascript.             
            </p>
            <br>
            <p class="small-text">
              I really hope this will be a long-term platform where I will not only talk about work and projects I did before but also I could enjoy creativity, learning new things, storing memories,
              sharing, writing, being organized and keeping myself motivated. I hope to keep it evolving as I continue to learn. It would be somewhere I could always come back and 
              look back what happened in life and be thankful.                   
            </p>
            <br>
            <p class="small-text">
              Plus, it makes studying more fun and productive.                     
            </p>
          </div>
      </div>        
  </section>

  <section class="aboutme">

      <div class="section-content">

          <img class='homeimg' src="static/images/about/avatar.jpg" alt="avatar">

          <div class="text-container">

              <p class="large-text"><strong>About me</strong></p>

              <p class="small-text">
                  I am Jaden Yang. Welcome to my personal website. 
              </p>
              <br>

              <p class="small-text">
                  I have played different roles as data analyst, data scientist, data engineer, ML engineer, MLOps engineer and web app developer during my career. 
                  I did projects in data science, machine learning, building dashboards, data visualization, web apps, api endpoint development, python package. 
                  I am also curious in a lot of areas and want to find areas I am passionate about.
              </p>
              <br>
                  
              <p class="small-text">
                  Outside work, I enjoy travelling, making food/deserts, editing videos, taking photos, playing and watching tennis, hanging out with families and friends. 
              </p>
              <br>
                  
              <p class="small-text">
                  We only live once and enjoy it as much as we can. 
              </p>
              <p class="chinese-text">
                  无论是我的明天要去哪里，而至少快乐伤心我自己决定。-五月天《人生海海》
              </p>
          </div>
      </div>        
  </section>


</body>
{%endblock%}