{%extends "index.html"%}
{%block content%}
<head>
  <title>home</title>     
</head>
<style>
</style>
<body>

  <section class="aboutsite">

      <div class="section-content">

          <img class='homeimg' src="static/images/about/laptop.jpg" alt="laptop">

          <div class="text-container">

            <p class="large-text"><strong>About the website</strong></p>

            <p class="small-text">
              This is a personal website designed using Flask, HTML5, CSS3, Javascript.             
            </p>
            <br>
            <p class="small-text">
              I really hope this will be a long-term platform where I will not only talk about work and projects I did before but also I could enjoy creativity, learning new things, storing memories,
              sharing, writing, being organized and keeping myself motivated. I hope to keep it evolving as I continue to learn. Plus, it makes studying more fun and productive.                     
            </p>
            <br>
            <p class="small-text">
              I want it to be somewhere I could always come back and look back what happened in life and be grateful, proud and optimistic. Life is not always working out in the way we hoped but every step counts.           
            </p>
          </div>
      </div>        
  </section>

  <section class="aboutme">

      <div class="section-content">

          <img class='homeimg' src="https://drive.google.com/uc?export=view&id=1Z-1DnFg_CgATqtVno7DSGEIotV-4MXHP" alt="avatar">

          <div class="text-container">

              <p class="large-text"><strong>About me</strong></p>

              <p class="small-text">
                  I am Jaden. Welcome to my personal website. 
              </p>
              <br>

              <p class="small-text">
                  During my caeer, I had chances to play different roles as a data analyst, a data scientist, a data engineer, a ML/MLOps engineer, a platform engineer and a web developer. 
                  I am curious in a lot of areas and want to find the areas that I am passionate about.
              </p>
              <br>
                  
              <p class="small-text">
                  Outside work, I love travelling, making deserts, listening music, editing videos, taking photos, playing and watching tennis, being with families and friends. 
              </p>
              <br>
                  
              <p class="small-text">
                  We only live once and enjoy it as much as we can. 
              </p>
              <p class="chinese-text">
                  无论是我的明天要去哪里，而至少快乐伤心我自己决定。-五月天《人生海海》
              </p>
          </div>
      </div>        
  </section>


</body>
{%endblock%}