{%extends "index.html"%}
{%block content%}
<head>
  <title>travel</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
  /* Add responsive styles as needed */
.videos {
  position:relative;
  width:100%;
  height:85%;
}

.media-icon {
  color:white;
}

/* .media-icon:hover {
  background-color: #bea9d4;
  color: #fff;
  transition: background-color 0.5s ease;
} */

.wordsinpop {
  color:white;
}

.map-container {
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
      .map-container {
        width: 80%;
        height: 300px;
      }
    }

</style>
<body>

  <!-- MAIN (Center website) -->

  <h1 class="handwrite"> Travel and see the world in my unique way</h1>

  <div class="map-container">{{ plot_html|safe }}</div>

  <div class="travelmap">

    <!-- <img class='map' src="static/images/travel/other/map.png" alt="Travel Map"> -->
    <!-- <img class='map' src="{{ plot_html|safe }}" alt="Travel Map"> -->

    <div class="travelpic">
      <h2>Bon voyage</h2>
      <img class='travelword' src='../static/images/travel/other/pexels-element-digital-1051073.jpg'>
      <img class='travelword' src='../static/images/travel/other/pexels-leah-kelley-185933.jpg'>
      <img class='travelword' src='../static/images/travel/other/pexels-nubia-navarro-(nubikini)-386009.jpg'>
      <img class='travelword' src='../static/images/travel/other/pexels-pixabay-413960.jpg'>
      <h3>We wonder for distraction, but we travel for fulfilment --Hilaire Belloc</h2>
    </div>


  </div>

  <h2 class="handwrite">Photo Gallery</h2>

  <div class="filter-buttons">
    <button class="filter-button" data-filter="all">All</button>
    <button class="filter-button" data-filter="austria">Austria</button>
    <button class="filter-button" data-filter="czechia">Czech Republic</button>
    <button class="filter-button" data-filter="england">England</button>
    <button class="filter-button" data-filter="france">France</button>
    <button class="filter-button" data-filter="portugal">Portugal</button>
    <button class="filter-button" data-filter="scotland">Scotland</button>
    <button class="filter-button" data-filter="spain">Spain</button>
    <button class="filter-button" data-filter="swiss">Switzerland</button>
    <button class="filter-button" data-filter="swiss">Thailand</button>
    <button class="filter-button" data-filter="turkey">Turkey</button>
    <button class="filter-button" data-filter="usa">USA</button>
    <!-- Add more filter buttons as needed -->
  </div>

  <div class="grid-container">

    <!-- Switherland -->

    <div class="grid-item swiss">
      <img src="static/images/travel/switherland/swiss_mountains.JPG" alt="swiss mountains">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Swiss Mountains | Switzerland</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item swiss">
      <img src="static/images/travel/switherland/bern.jpeg" alt="bern">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Bern | Switzerland</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item swiss">
      <img src="static/images/travel/switherland/geneva.jpeg" alt="geneva">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Geneva | Switzerland</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item swiss">
      <img src="static/images/travel/switherland/interlaken.jpeg" alt="interlaken">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Interlaken | Switzerland</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item swiss">
      <img src="static/images/travel/switherland/lucern.jpeg" alt="lucern">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Lucern | Switzerland</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Spain -->

    <div class="grid-item spain">
      <img src="static/images/travel/spain/barcelona.jpeg" alt="barcelona">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Barcelona | Spain</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item spain">
      <img src="static/images/travel/spain/madrid.jpeg" alt="madrid">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Madrid | Spain</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/madrid-where-dreams-come-alive-in-heart.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item spain">
      <img src="static/images/travel/spain/toledo.jpeg" alt="toledo">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Toledo | Spain</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/toledo-city-of-three-cultures.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item spain">
      <img src="static/images/travel/spain/seville.jpeg" alt="seville">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Seville | Spain</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/seville-uniquely-beautiful-city-in.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item spain">
      <img src="static/images/travel/spain/cordoba.jpeg" alt="cordoba">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Cordoba | Spain</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/colors-of-cordoba.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- England -->

    <div class="grid-item england">
      <img src="static/images/travel/england/london.jpeg" alt="london">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>London | England</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Scotland -->

    <div class="grid-item scotland">
      <img src="static/images/travel/scotland/edinburgh.jpeg" alt="edinburgh">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Edinburgh | Scotland</strong></a>
        <ul class="media-list">
          <li>
            <a href="../static/videos/travel/scotland/edinburgh.mp4" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2023/08/edinburgh-scotland-birthplace-of-harry.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Portugal -->

    <div class="grid-item portugal">
      <img src="static/images/travel/portugal/porto.jpeg" alt="porto">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Porto | Portugal</strong></a>
        <ul class="media-list">
          <li>
            <a href="../static/videos/travel/portugal/porto.mp4" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2023/08/porto-portugal-riverside-paradise.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item portugal">
      <img src="static/images/travel/portugal/lisbon.jpeg" alt="lisbon">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Lisbon | Portugal</strong></a>
        <ul class="media-list">
          <li>
            <a href="../static/videos/travel/portugal/lisbon.mp4" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/lisbon-westernmost-capital-city-in.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- France -->

    <div class="grid-item france">
      <img src="static/images/travel/france/paris.jpeg" alt="paris">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Paris | France</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Turkey -->

    <div class="grid-item turkey">
      <img src="static/images/travel/turkey/istanbul.jpeg" alt="istanbul">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Istanbul | Turkey</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Austria -->

    <div class="grid-item austria">
      <img src="static/images/travel/austria/vienna.jpeg" alt="vienna">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Vienna | Austria</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Czech Republic -->

    <div class="grid-item czechia">
      <img src="static/images/travel/czechia/prague.jpeg" alt="prague">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Prague | Czech Republic</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/11xDQhVNamzEKAED67fu_qtiuKbWm8v7Y/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/10/barcelona-city-of-gaudi.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- USA -->

    <div class="grid-item usa">
      <img src="static/images/travel/usa/dc.jpeg" alt="dc">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Washington DC | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/1ef6gJ4gRXdLLT4qRV_S27NeDl8OAtvQk/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-video"></i>
              <span class="tooltip2">video</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/nyc.jpeg" alt="nyc">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>New York City | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/denali.jpeg" alt="alaska">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Denali, AK | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/lake_tahoe.jpeg" alt="tahoe">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Lake Tahoe, CA | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/honolulu.jpeg" alt="honolulu">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Honolulu, HI | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/oregon.jpeg" alt="oregon">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Mount Hood, OR | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/whitesands.jpeg" alt="new mexico">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Whitesands, NM | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon"><i class="fa fa-photo-film" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon"><i class="fa-brands fa-blogger"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/arch.jpeg" alt="arch">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Arch, UT | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon"><i class="fa fa-photo-film" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon"><i class="fa-brands fa-blogger"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/wave.jpeg" alt="wave">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Wave, AZ | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="https://drive.google.com/uc?export=view&id=1-cwqxHT6OoArQRDtpcgbDeeYbJUMPiVK" alt="sf">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>San Francisco, CA | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/olympic.jpeg" alt="olympic">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Olympic, WA | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2022/12/messi-and-argentia-won-qatar-worldcup.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/disney.jpeg" alt="disney">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Disney World, FL | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://drive.google.com/file/d/1wLMCn021a8AXYmkErMZ1FlBIwORNLqkF/view?usp=sharing" target=_blank class="media-icon">
              <i class="fa fa-photo-film" aria-hidden="true"></i>
              <span class="tooltip2">photo slidesshow</span>
            </a>
          </li>
          <li>
            <a href="https://youtu.be/-cyYzWFyw2M" target=_blank class="media-icon">
              <i class="fa fa-youtube"></i>
              <span class="tooltip2">youtube</span>
            </a>
          </li>
          <li>
            <a href="https://jadenspace.blogspot.com/2019/01/disney-world-living-in-magic.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/monument_valley.jpeg" alt="monument_valley">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Monument Valley, AZ | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/yosemite.jpeg" alt="yosemite">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Yosemite, CA | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/bryce.jpeg" alt="bryce canyon">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Bryce Canyon, UT | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/grand_canyon.jpeg" alt="grand canyon">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Grand Canyon, AZ | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-item usa">
      <img src="static/images/travel/usa/universal_studio.jpeg" alt="universal studio">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Universal Studio, FL | USA</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Thailand -->

    <div class="grid-item thailand">
      <img src="static/images/travel/thailand/chiangrai.JPG" alt="nyc">
      <div class="overlay">
        <a class="view-button-nocontent"><strong>Chiang rai | Thailand</strong></a>
        <ul class="media-list">
          <li>
            <a href="https://jadenspace.blogspot.com/2014/05/monument-valley-az-icon-of-american-west.html" target=_blank class="media-icon">
              <i class="fa-brands fa-blogger"></i>
              <span class="tooltip2">blog</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <script src="../static/js/filter_buttons.js"></script>
  <script src="../static/js/popup_window.js"></script>

</body>

{%endblock%}