{%extends "index.html"%}
{%block content%}
	<head>
		<title>video</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/main.css">   
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->

                <div class="img-video-container">
                    <img src="static/images/videos/pic04.jpg">
                    <figcaption>Switherland</figcaption>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
                <div class="img-video-container">
                    <img src="static/images/videos/pic01.jpg">
                    <figcaption>Turkey</figcaption>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
                <div class="img-video-container">
                    <img src="static/images/videos/pic02.jpg">
                    <figcaption>Thailand</figcaption>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
                <div class="img-video-container">
                    <img src="static/images/videos/pic03.jpg">
                    <figcaption>Paris</figcaption>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>

		<!-- Scripts -->

	</body>
{%endblock%}