{%extends "index.html"%}
{%block content%}
<head>
  <title>work</title>
  <link rel="stylesheet" href="../static/css/normalize.css"/>
  <link rel="stylesheet" href="../static/css/main.css">   
</head>
<body>

  <h1 class="quoteh1">In the long run, you make your own luck — good, bad, or indifferent. -Loretta Lynn</h1>

  <!-- Timeline section -->

  <section class="jobtimeline">
    
    <ul class="joblist">
        <li style="--accent-color:#4CADAD">
            <div class="date">2023</div>
            <a class="jobtitle" href="#job4" onclick="openPopup('job4')">AI platform engineer</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job4">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Collaborate with software engineers, data scientists, and DevOps teams to design and implement technical designs and solutions</li>
                  <li>Design and implement scalable and reliable systems to support AI/ML models</li>
                  <li>Be involved in all stages of the model development lifecycle from design to development, testing, and deployment.</li>
                  <li>Implement engineering best practices to ensure scalability and uptime</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job4')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2021</div>
            <a class="jobtitle" href="#job3" onclick="openPopup('job3')">Machine Learning Engineer</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job3">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Technical leader on ML deployment, ML infrastructure, CI/CD and autoscaling; Partner closely with product managers, data scientists, data engineers, data analysts, platform engineers</li>
                  <li>Automate model training/deployment pipelines, feature engineering, metrics extraction, model monitoring and alert system</li>
                  <li>Develop/deploy/maintain data science products as web applications, API endpoints, python packages</li>
                  <li>Track business performance of models with ad-hoc reporting and conduct technology proof of concept projects</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job3')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2020</div>
            <a class="jobtitle" href="#job2" onclick="openPopup('job2')">Clinical Data Scientist</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job2">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job2')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#41516C">
            <div class="date">2013</div>
            <a class="jobtitle" href="#job1" onclick="openPopup('job1')">Data scientist-Statistician</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job1">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Serve as subject matter expert by providing stakeholders with advanced statistical support on experiment design, hypothesis generating, hypothesis testing, and statistical analyses</li>
                  <li>Design and develop dashboards to enable self-serve data consumption and interpretations</li>
                  <li>Lead full-cycle development process, including planning, data cleaning, accessing data quality, data analyses, developing models, model evaluation and delivering insights to drive enhanced services in medicine and health</li>
                  <li>Mentor junior clinical researchers and analysts on statistical methods and programming</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job1')">Close</button>
            </div>
        </li>
    </ul>
  </section>

  <!-- Skill Section -->

  <section class="skills">

    <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="../static/images/work/icons8-code-64.png" href="https://icons8.com/icon/AtddRHlsI04X/code">
              <h3>Code</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Python</p>
              <p>SQL</p>
              <p>R</p>
              <p>SAS</p>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="../static/images/work/icons8-cloud-hosting-53.png" href="https://icons8.com/icon/oewuIo1N8VR6/cloud-hosting">
              <h3>Cloud</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>AWS</p>
              <p>GCP</p>
          </div>
      </div>
    </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../static/images/work/icons8-operation-64.png" href="https://icons8.com/icon/ID75Uavx1jdO/operation">
                <h3>MLOps</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Kubeflow</p>
                <p>VertexAI</p>
                <p>Sagemaker</p>
            </div>
        </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../static/images/work/icons8-design-64.png" href="https://icons8.com/icon/USVBIhQr6gqA/design">
                  <h3>Design</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Lucid chart</p>
                  <p>Figma</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../static/images/work/icons8-data-pipeline-32.png" href="https://icons8.com/icon/yTnBB1PHnY8I/data-pipeline">
                  <h3>ETL</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Airflow</p>
                  <p>DBT</p>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../static/images/work/icons8-coding-60.png" href="https://icons8.com/icon/rfx48TN7sC36/laptop-coding">
                <h3>Frontend</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>HTML</p>
                <p>CSS</p>
                <p>Javascript</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../static/images/work/icons8-application-64.png" href="https://icons8.com/icon/9iTlFurEMkke/application">
                <h3>Applications</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Flask</p>
                <p>Django</p>
                <p>Streamlit</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-github-64.png" href="https://icons8.com/icon/3tC9EQumUAuq/github">
              <h3>Version Control</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Github</p>
                <p>Git</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-distributed-60.png" href="https://icons8.com/icon/yqNnVm53tssJ/distributed">
              <h3>Orchestration</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Kubenetes</p>
                <p>Docker</p>
                <p>Spark</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-machine-learning-64.png" href="https://icons8.com/icon/4hGUZoWc6Eyu/brain">
              <h3>ML/AI</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Supervised</p>
                <p>Unsupervised</p>
                <p>NLP</p>
                <p>Deep Learning: Tensorflow, Keras</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-center-distribution-96.png" href="https://icons8.com/icon/13PLtxIgFobl/center-distribution">
              <h3>Data Stream</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>PubSub</p>
                <p>Kafka</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-dashboard-64.png" href="https://icons8.com/icon/szf7HVexCdzB/dashboard">
              <h3>Dashboard</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Looker</p>
                <p>Tableau</p>
                <p>Dash</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-plot-64.png" href="https://icons8.com/icon/PKinYBNbjhHj/plot">
              <h3>Data visualization</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Matplotlib</p>
                <p>Seaborn</p>
                <p>Plotly</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-integration-68.png" href="https://icons8.com/icon/MBq7aDRZ2OQQ/integration">
              <h3>CI/CD</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>CircieCI</p>
                <p>TravisCI</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
              <img src="../static/images/work/icons8-linux-50.png" href="https://icons8.com/icon/38796/linux">
              <h3>Linux</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Shell</p>
                <p>Bash</p>
                <p>AWK</p>
            </div>
        </div>
      </div>

  </section>

  <!-- Note Section -->

  <section class="notes">

    <div class="notelist">

      <li class="note_item">
        <div class="note">
          
          <div class="note_content">
            <img src="../static/images/work/icons8-operation-64.png" alt="mixed vegetable salad in a mason jar. ">
            <h2 class="note_title">MLOps</h2>
            <div class="note_text">
              <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.</p>
              <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of protein for $2 more. </p>
            </div>
          </div>
        </div>
      </li>
  
      <li class="note_item">
        <div class="note">
          <div class="note_content">
            <img src="../static/images/work/icons8-code-64.png" alt="a Reuben sandwich on wax paper. ">
            <h2 class="note_title">Python</h2>
            <div class="note_text">
              <p>All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.</p>
              <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
              <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!</p>
                <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
            </div>
          </div>
        </div>
      </li>

      <li class="note_item">
        <div class="note">
          <div class="note_content">
            <img src="../static/images/work/icons8-data-pipeline-32.png" alt="A side view of a plate of figs and berries. ">
            <h2 class="note_title">Data engineering</h2>
            <div class="note_text">
              <p>A succulent sextet of fresh figs join with a selection of bodacious seasonal berries in this refreshing, shareable dessert.</p>
              <p>Choose your drizzle: cherry-balsamic vinegar, local honey, or housemade chocolate sauce. </p>
            </div>
          </div>
        </div>
      </li>

      <li class="note_item">
        <div class="note">     
          <div class="note_content">
            <img src="../static/images/work/icons8-cloud-hosting-53.png" alt="A side view of a plate of figs and berries. ">
            <h2 class="note_title">GCP</h2>
            <div class="note_text">
              <p>A succulent sextet of fresh figs join with a selection of bodacious seasonal berries in this refreshing, shareable dessert.</p>
              <p>Choose your drizzle: cherry-balsamic vinegar, local honey, or housemade chocolate sauce. </p>
            </div>
          </div>
        </div>
      </li>

    </div>

  </section>

  <script src="../static/js/popup_window.js"></script>

</body>
{%endblock%}