{%extends "index.html"%}
{%block content%}
<head>
  <title>work</title>
  <link rel="stylesheet" href="../static/css/normalize.css"/>
  <link rel="stylesheet" href="../static/css/main.css">   
</head>
<body>

  <!-- Timeline section -->

  <section class="jobtimeline">
    <h1>Professional Journey</h1>
    <ul class="joblist">
        <li style="--accent-color:#4CADAD">
            <div class="date">2023</div>
            <a class="jobtitle" href="#job4" onclick="openPopup('job4')">AI platform engineer</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job4">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job4')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2021</div>
            <a class="jobtitle" href="#job3" onclick="openPopup('job3')">Machine Learning Engineer</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job3">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Technical leader on ML deployment, ML infrastructure, CI/CD and autoscaling; Partner closely with product managers, data scientists, data engineers, data analysts, platform engineers</li>
                  <li>Automate model training/deployment pipelines, feature engineering, metrics extraction, model monitoring and alert system</li>
                  <li>Develop/deploy/maintain data science products as web applications, API endpoints, python packages</li>
                  <li>Track business performance of models with ad-hoc reporting and conduct technology proof of concept projects</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job3')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2020</div>
            <a class="jobtitle" href="#job2" onclick="openPopup('job2')">Clinical Data Scientist</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job2">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job2')">Close</button>
            </div>
        </li>
        <li style="--accent-color:#41516C">
            <div class="date">2013</div>
            <a class="jobtitle" href="#job1" onclick="openPopup('job1')">Data scientist-Statistician</a>
            <!-- Hidden pop-up content -->
            <div class="popup-job" id="job1">
              <h2>Responsbilities</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <h2>Projects</h2>
              <p>
                <ul class="details">
                  <li>Act as Data Scientist and Data Engineer; Partner closely with software engineers, product managers, and data scientists in a data infrastructure team to improve EHR data pipelines and discover data gaps</li>
                  <li>Implement and automate processes to monitor data quality, data consistency and troubleshoot data issues, ensuring production data is accurate and robust</li>
                  <li>Develop/deploy data products like python applications and packages for data exploration, visualization and analytics</li>
                  <li>Design and develop testing frameworks for regression of ETL processes</li>
                </ul>
              </p>
              <button onclick="closePopup('job1')">Close</button>
            </div>
        </li>
    </ul>
  </section>

  <!-- Skill section -->
  <section class="skills">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                  <h3>Design</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>python</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                  <h3>Code</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>GCP, AWS</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                  <h3>Launch</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Github</p>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <!-- <img src="../static/images/work/icons8-coding-60.png"> -->
                <h3>Frontend</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Github</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../static/images/work/icons8-cloud-hosting-53.png">
                <h3>Cloud</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>AWS</p>
                <p>GCP</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../static/images/work/icons8-operation-64.png">
                <h3>MLOps</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>AWS</p>
                <p>GCP</p>
            </div>
        </div>
      </div>
  </section>

  <script src="../static/js/popup_window.js"></script>

</body>
{%endblock%}